/* profile.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url("https://images.pexels.com/photos/5981783/pexels-photo-5981783.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.col-md-6 {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}

.profile-buttons {
    text-align: right;
    margin-top: 20px;
}


.deleteAd{
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.updateAd{
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.profile-buttons button   {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.profile-buttons button:hover {
    background-color: #0069d9;
}


