/* view-ad.css */

body {
    font-family: Arial, sans-serif;
    background-color: yellow;
}

h1 {
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

.col-md-6 {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.col-md-6 h2 {
    color: #333;
}

.col-md-6 p {
    color: #666;
}

.form-group {
    margin-bottom: 10px;
}

.btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0069d9;
}

.btn-block {
    display: block;
    width: 100%;
}